<body>
    <br>
    <br>
    <br>
      <div class="container">
    
        <div class="row">
          <div class="col-md-8">
            <div *ngFor="let quest of questionaffich"  >
              <div *ngIf="quest.liaisonblocs == idblocs "    >
            <div class="card bg-light shadow rounded border-0 " >
              <div class="card-header   ">
                <div class="container">
                  
                  <div class="row">
                    <div class="col-11">
                      <h5> question:    {{quest.question}}</h5>
                    </div>
                    <div class="col-1">
                      <button (click)="deleteQuestion(quest.id)"class="btn btn-success"><i class="bi bi-trash"></i></button>
    
                    </div>
    
                  </div>
                
                </div>
              </div>
              <div class="card-body">
              
                <blockquote class="blockquote mb-0">
                  <div  class="form-check" *ngIf="quest.propositon1?.length == null "    >
                    
                    <input type={{quest.type}} id={{quest.id}} placeholder="écrire votre réponse" >
                   
                  </div>
                  
    
                  <div  class="form-check" *ngIf="quest.propositon1?.length > 0"  >
                    <input class="form-check-input" type={{quest.type}} value={{quest.propositon1}} name={{quest.id}} >
                    <label class="form-check-label" for="flexCheckDefault1"id="flexCheckDefault1">
                      {{quest.propositon1}}
                    </label>
                  </div>
                  <div class="form-check" *ngIf="quest.propositon2?.length > 0" >
                    <input class="form-check-input" type={{quest.type}} value={{quest.propositon2}} name={{quest.id}} >
                    <label class="form-check-label" for="flexCheckDefault2">
                      {{quest.propositon2}}
                    </label>
                  </div>
                  <div class="form-check" *ngIf="quest.propositon3?.length > 0" >
                    <input class="form-check-input" type={{quest.type}} value={{quest.propositon3}} name={{quest.id}} >
                    <label class="form-check-label" for="flexCheckDefault3">
                      {{quest.propositon3}}
                    </label>
                  </div>
                  <div class="form-check" *ngIf="quest.propositon4?.length > 0" >
                    <input class="form-check-input" type={{quest.type}} value={{quest.propositon4}} name={{quest.id}} >
                    <label class="form-check-label" for="flexCheckDefault4">
                      {{quest.propositon4}}
                    </label>
                  </div>
                  <div class="form-check"   *ngIf="quest.propositon5?.length > 0">
                    <input class="form-check-input" type={{quest.type}}  value={{quest.propositon5}} name={{quest.id}}>
                    <label class="form-check-label" for="flexCheckDefault">
                      {{quest.propositon5}}
                    </label>
                  </div>
                  
                </blockquote>
                
              </div>
              
            </div>
            <br> <br>
          </div>
    
    
    
    
            <!-- Button trigger modal -->
    
    
            <!-- Modal -->
    
    
    
    
    
    
    
          </div>
        </div>
          <div class="col-md-4">
    
            <div class="card mb-4 bg-light shadow rounded border-0 ">
              <div class="card-body">
    
                <div class="row">
                  <div class="col-sm-9 ">
                    <h6 class="mb-0">ajouter question radio</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <label for="tentacles">nombre de solution (1-5):</label>
    
                    <input type="number" id="tentacles" name="tentacles" value="3" min="1" max="5">
    
    
    
                  </div>
    
                </div>
                <hr>


                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">type de reponse</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <select class="form-select" name="type"  id="type" aria-label="Default select example" [(ngModel)]="form.type" >
      
                      <option  value="radio">radio</option>
                      <option value="checkbox">checkbox</option>
                      <option value="text">text</option>
                    </select>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">language</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <select class="form-select" name="type"  id="type"  >
      
                      <option  value="radio">francais</option>
                      <option value="checkbox">arabe</option>
                      <option value="text">anglais</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <h6 class="mb-0"></h6>
                  </div>
                  <div class="col-sm-7 text-secondary">
    
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"></h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <button type="button" (click)="myFunction()" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="bi bi-plus-lg"></i>
                   ajouter 
                  </button>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Modal -->
    
    
    
    
    
    
    
    <!-- Button trigger modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <form class="login-form mt-4" name="form"  #f="ngForm">
              
             
    <div *ngIf="test">
              <h6>QUESTION</h6>
              
              <input type="text" id="question" name="question" [(ngModel)]="form.question">
              <br>
            </div>
    
            <div *ngIf="msg">
              <h6 >il faut choisir le type de réponse</h6>
              
            </div>        
            
              <div *ngIf="test1">
                <h6> proposition 1</h6>
                <input type="text" id="one" name="propositon1" [(ngModel)]="form.propositon1"> <br>
                <br>
              </div>
              <div *ngIf="test2">
                <h6> proposition 2</h6><input type="text" id="two" name="propositon2" [(ngModel)]="form.propositon2"> <br>
                <br>
              </div>
              <div *ngIf="test3">
                <h6> proposition 3</h6><input type="text" id="three" name="propositon3" [(ngModel)]="form.propositon3"> <br>
    
              </div>
    
              <div *ngIf="test4">
                <h6> proposition 4</h6><input type="text" id="four" name="propositon4" [(ngModel)]="form.propositon4"> <br>
                <br>
              </div>
    
              <div *ngIf="test5">
                <h6> proposition 5</h6><input type="text" id="five" name="propositon5" [(ngModel)]="form.propositon5"> <br>
                <br>
              </div>
              <br>
              <button class="btn btn-primary" (click)="onSubmit()">send</button>
              
              
    
            </form>
            
          </div>
    
        </div>
      </div>
    </div>
    <!-- Example split danger button -->
    
    
    
    
    <!--
    <button type="button" (click)="myFunction2()" class="btn btn-primary">
    Launch demo modal
    </button>
    -->
    
    </body>