
<div class="bac"> 
  
  <br><br><br><br><br><br><br><br>

    <div class="modal-dialog"   role="document">
      <div class="modal-content">
        <div class="modal-header  " style="background-color: rgb(218, 218, 218);">
          <h5 class="modal-title" id="exampleModalLabel">enquete id</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink="/user"></button>
        </div>
        <div class="modal-body" style="background-color: rgb(218, 218, 218);">
          <h5>Saisir l'id de l'enquete pour laquelle vous voulez affecter des clients </h5>
          <br>
          <p class="text-center " style="color: red;">{{alert}}</p>

          <label for="name"> <h5>enquete id</h5></label>

          <input type="text" id="namefrancais" class="form-control" placeholder="enquete id">

        </div>
        <div class="modal-footer" style="background-color: rgb(219, 219, 219);">
          <button type="button" class="btn btn-light" data-dismiss="modal"  (click)="nextpage()">next</button>

        </div>
      </div>
    </div>

  </div>
  