

      <div class="l">
            <br>
            <br>
            <br>
            <img src="assets/img/ooredoo.png">
            <br>
            <br>
            <br>
            <h1 class="text-light" style="font-size: 40px;">WELCOME TO OOREDOO !</h1>
            <br>
            <br>
            </div>

<br>
<br>
<br>
<br>

            <section class="section" id="about">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-xs-12">
                              <div class="left-text-content">
                                  <div class="section-heading">


                                      <h6>About Us</h6>
                                      <h2>Une expérience 100% digitale sur votre réseau Ooredoo ! </h2>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6 col-sm-6">
                                          <div class="service-item">
                                            <i class="bi bi-arrow-bar-up" style="font-size: 3rem;"></i>
                                              <h4>Top </h4>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                          <div class="service-item">
                                            <i class="bi bi-journal-check" style="font-size: 3rem;"></i>               
                                                                           <h4>facture en ligne</h4>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                          <div class="service-item">
                                            <i class="bi bi-arrow-repeat" style="font-size: 3rem;"></i> 
                                              <h4>Rechare en ligne</h4>
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                          <div class="service-item">
                                            <i class="bi bi-activity" style="font-size: 3rem;"></i>
                                              <h4>active</h4>
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-xs-12">
                              <br>
                              <br>
                              <br>
                              <div class="right-text-content">
                                  <p>
                                    Ooredoo est une société de télécommunication d'origine qatarie. Elle possède plusieurs participations dans Wataniya Telecom, Nawras, Tunisiana, Asiacell, Indosat. La société est présente au Moyen-Orient, en Europe et en Asie, incluant l'Algérie, l'Indonésie, l'Irak, le Koweït, le Myanmar, les Maldives, Tunisie.
                                  </p>                              
                                </div>
                          </div>
                      </div>
                  </div>

                  <br>
                  <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                      <i class="bi bi-arrow-bar-up" style="font-size: 3rem;"></i>
                        <h4>envoyer des enquetes spécifiques</h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                      <i class="bi bi-journal-check" style="font-size: 3rem;"></i>               
                                                     <h4>analyser la satisfaction client</h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                      <i class="bi bi-arrow-repeat" style="font-size: 3rem;"></i> 
                        <h4>upload files </h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                      <i class="bi bi-activity" style="font-size: 3rem;"></i>
                        <h4>créer des scripts</h4>
                    </div>
                </div>
                              <br>
                  <app-footer></app-footer>