<div class="l">
    
  <br><br> <br> <br> <br> <br>
 <br>
 
 <h1 class="text-light" > 
     <i class="bi bi-person-plus-fill" style="font-size:48px;color:rgb(255, 255, 255)"></i>
     
       ajouter des administrateurs <br></h1>
    
 <br><br><br><br> <br>  
 <br>
 </div>




<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/index" class="btn btn-icon btn-soft-primary">

  </a>
</div>



<!-- Hero Start -->
<section class="bg-auth-home d-table w-100">
  <div class="container">

    <section class="section mt-60">
      <br><br>
     
      <div class="row">
        
          






              <br>
    
      <div class="col-3">
       <!--
<br><br>
        <h5>Add admins :</h5>
        <br>
        <p>Le lorem ipsum est, en imprimerie, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est
          achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
       --> 
      </div>
      <div class=" col-md-6">
        <h5>vous pouvez ajouter les administrateurs si dessous :</h5>
        <div class="card shadow bg-light shadow rounded border-0">
          <div class="card-body">
           
            <form class="login-form mt-4"  
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
           >
              <div class="row">
                
                <!--end col-->
                <br> 
                <div class="col-12">
                  <div class="mb-3">


                    <label class="form-label">username <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <div class="input-group mb-3">
                     <!-- <i-feather name="user-check" class="fea icon-sm icons"></i-feather> -->
                      <input type="text"
                      
                      class="form-control"
                      
                      [(ngModel)]="form.username"
                      required
                      minlength="3"
                      maxlength="20"
                      #username="ngModel"

                       placeholder="username" name="s" >

                      

                      </div>
                      <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.minlength">
                          Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors.maxlength">
                          Username must be at most 20 characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>





                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Your Email <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                     <!-- <i-feather name="mail" class="fea icon-sm icons"></i-feather> -->
                      <input type="email" class="form-control " placeholder="Email" type="email"
                      
                      name="email"
                      [(ngModel)]="form.email"
                      required
                      email
                      #email="ngModel">

                      <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <!-- <i-feather name="key" class="fea icon-sm icons"></i-feather> -->
                      <input type="password"  placeholder="Password"  type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel">
                      <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!--end col-->

               
                <!--end col-->

                <div class="col-md-12">
                  <div class="d-grid">
                  <br> 
                    <button class="btn btn-danger" >Register</button>
                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                      Signup failed!<br />{{ errorMessage }}
                    </div>
                  </div>
                </div>
                <!--end col-->

                
                <!--end col-->

                
              </div>
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    <!--end row-->
  
         
  
  
  
  
    <br><br>
  
  
  <!--end container-->
</div></section>
<!--end section-->
<!-- Hero End -->